.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-image {
  min-width: 200px;
  height: auto;
  margin-right: 10px;
  border-radius: 9px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.carousel-image:hover {
  transform: scale(1.05);
  border-radius: 9px;
}

.carousel-image:last-child {
  margin-right: 0;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}
