.add-comment-section {
  width: 50rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.comment-input {
  width: 100%;

  min-height: 3rem;
  max-height: 40rem;
  resize: none;
  overflow: hidden;
  font-family: inherit;
  font-size: 1.6rem;
  padding: 1rem;
  line-height: 1.5;
  outline: none;
  border-radius: 9px;
}
