.main-page-section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 28rem;
}

.main-title {
  font-size: 4.6rem;
  letter-spacing: 1.2px;
  color: #00a8ff;
}

.main-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 4rem;
}

.main-title-element {
  justify-self: center;
}

.main-title {
  font-size: 4.6rem;
  letter-spacing: 1.2px;
  color: #00a8ff;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 2s steps(40, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/*1024*/
@media (max-width: 64em) {
  .main-page-section {
    padding-top: 34rem;
  }
}

/*640*/
@media (max-width: 40em) {
  .main-title {
    font-size: 4rem;
  }
}

/*480*/
@media (max-width: 30em) {
  .main-page-section {
    padding-top: 39rem;
  }
  .main-title {
    font-size: 3rem;
  }
}
