/* style.css */
body {
  font-family: "Arial", sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.main-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn-m,
.btn-l {
  background-color: #00a8ff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-m:hover,
.btn-l:hover {
  background-color: #007bbf;
}

.btn-m {
  font-size: 1rem;
  padding: 0.6rem 1.2rem;
}

.btn-l {
  font-size: 1.4rem;
  padding: 1rem 2rem;
}

.menu button {
  margin: 0 0.5rem;
}

@media (max-width: 768px) {
  .menu,
  .main-buttons {
    flex-direction: column;
    gap: 1rem;
  }

  .btn-l {
    width: 100%;
    text-align: center;
  }
}
