.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  max-height: 50rem;
  width: 35rem;
  border-radius: 8px;
  z-index: 15;
  padding: 3rem 5rem;
  box-shadow: 0.1px 2px 8px 0.1px #7dd3fc;
}

.form-image-profile {
  position: relative;
}

.form-input-box {
  width: 100%;
}

.register-img {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  object-position: center;
}

.form-title {
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.icon-select-img > .icons-descripton-trip {
  fill: #fff;
}

.form-close-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
