.main-card-section {
  position: relative;
  padding: 5rem;
  padding-top: 7rem;
  margin-top: 3rem;
  background-color: #344aab;
  border-radius: 9px;
  width: 100%;
}

.mode-btn {
  position: absolute;
  top: 1rem;
  left: 1.4rem;
}

.main-card-section > .tags {
  top: 1rem;
  right: 0rem;
  background-color: #344aab;
}

.images-container {
  width: 100%;
}

.card-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 2rem; */
}

.card-title {
  font-size: 3rem;
  align-self: flex-start;
}

.details-container {
  width: 100%;
  min-height: 5rem;
  border-radius: 9px;
  font-size: 1.6rem;
  text-align: start;
  padding: 1rem;
  line-height: 1.5;
  letter-spacing: 0.2px;
}

.details-container > button {
  align-self: flex-end;
  background: #bae6fd;
  color: #232d59;
}

.details-container > button:hover {
  background: #00a8ff;
  color: #fff;
}
