/* index.css */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.day-name {
  font-size: 2rem;
  color: #e0f2fe;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a {
  cursor: pointer;
}
