/* index.css */
/* 
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
  height: 100vh;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(
    120deg,
    #082f49 50%,
    #0a3958 50%
  ); /* גרדיאנט אלכסוני */
}

#root {
  width: 100%;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

.day-name {
  font-size: 2rem;
  color: #e0f2fe;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a {
  cursor: pointer;
}
