* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* General settings and base colors */
  line-height: 1;
  overflow-x: hidden;
  height: 100%;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  width: auto;
}

body {
  font-family: "Poppins", sans-serif;
  position: relative;
  margin: 0;
  height: 100vh;
  background-color: #082f49;
  color: rgba(255, 255, 255, 0.87);
  overflow-x: hidden;
}

.main-section {
  padding-top: 12rem;
}

.section {
  padding-left: 3rem;
  padding-right: 3rem;
}

.day-name {
  font-size: 2rem;
  color: #e0f2fe;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a {
  cursor: pointer;
}

/*1024*/
@media (max-width: 64em) {
  html {
    font-size: 57.5%;
  }

  .main-section {
    padding-top: 14rem;
  }
}

/*640*/
@media (max-width: 40em) {
  html {
    font-size: 55%;
  }

  .main-section {
    padding-top: 14rem;
  }
}

/*480*/
@media (max-width: 30em) {
  html {
    font-size: 50%;
  }

  body {
    background-color: #0d4e79;
    height: 90vh;
  }

  .section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main-section {
    padding-top: 23rem;
  }
}
