.countries-list-container {
  position: relative;
}

.countries-list-container input {
  border-radius: 4px;
  height: 3.4rem;
}

.countries-list-container input::placeholder {
  font-size: 1.4rem;
}

.countries-container {
  position: absolute;
  top: 34px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  overflow: auto;
  transition: max-height 0.5s ease-out;
  max-height: 10rem;
  background-color: blue;
}
