.trip-card {
  position: relative;
  max-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  border: solid 1px #00a8ff;
  padding: 2rem;
  border-radius: 9px;
  margin-bottom: 9rem;
}

.trip-card-profile {
  position: absolute;
  top: -4.5rem;
  left: 1.7rem;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 0.5rem;
  z-index: 2;
  cursor: pointer;
  background-color: #082f49;
  padding-left: 1rem;
  padding-right: 1rem;
}

.profile-name {
  color: #d2dafa;
  font-size: 1.4rem;
}

.user-profile {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 2px solid #48527a;
  object-fit: cover;
  object-position: center;
}

.trip-details {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tags {
  position: absolute;
  top: -1.8rem;
  right: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #082f49;
}

.tag {
  font-size: 1.4rem;
  padding: 1rem 1rem;
  background-color: #00a8ff;
  background-color: #6edf23;
  color: #132c02;
  border-radius: 7px;
}
.photos-btn {
  position: absolute;
  bottom: -0.7rem;
  right: 1.7rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #082f49;
}
.photo-tag {
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  background-color: #00a8ff;
  border-radius: 7px;
  cursor: pointer;
}

.trip-description {
  text-align: start;
  font-size: 1.4rem;
  max-height: 20rem;
  line-height: 1.6;
  letter-spacing: 0.1px;
  margin-bottom: 2rem;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

&::-webkit-scrollbar {
  display: none;
}

.icons {
  position: absolute;
  bottom: -1.4rem;
  left: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #082f49;
  padding-left: 1rem;
  padding-right: 1rem;
}

.icons svg {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.icons-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.6rem;
}

.like-icon.white {
  background-color: #232d59;
  fill: #fff;
}

.like-icon.blue {
  fill: #00a8ff;
}
